$path-img: "../../img/";
$path-fonts: "../../fonts/";

$font-family-base: "Exo2", Arial, sans-serif;

$font-size-base: 16px;

$font-line-height-base: 1.2;

$regular: 400;
$semibold: 600;
$bold: 700;

$site-width: 1400px;
$site-gutter: 15px;

$white: #fff;
$black: #000;
$green: #00bf80;
$red: #e22d2d;
$dark-red: #aa1818;
$text-color: #2c2c2c;
$gray: #8d8d8d;
$purple: #40496f;
