.main-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-menu__item {
    display: inline-block;
    margin: 3px 20px;
}

.main-menu__link {
    color: $text-color;
    font-size: 18px;
    font-weight: $semibold;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    padding-bottom: 3px;
    transition: .25s border-color ease;

    &:hover, &:focus {
        border-bottom-color: $red;
        border-width: 2px !important;
        color: $red !important;
    }
}

@include screen-sm {
    .main-menu__link {
        font-size: 16px;
    }
}